<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.glaf.matrix.export.mapper.ExportItemMapper">

	<resultMap id="exportItemResultMap"
		type="com.glaf.matrix.export.domain.ExportItem">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="expId" column="EXPID_" jdbcType="VARCHAR" />
		<result property="deploymentId" column="DEPLOYMENTID_"
			jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="datasetId" column="DATASETID_"
			jdbcType="VARCHAR" />
		<result property="xmlExpId" column="XMLEXPID_"
			jdbcType="VARCHAR" />
		<result property="sql" column="SQL_" jdbcType="VARCHAR" />
		<result property="recursionSql" column="RECURSIONSQL_"
			jdbcType="VARCHAR" />
		<result property="recursionColumns" column="RECURSIONCOLUMNS_"
			jdbcType="VARCHAR" />
		<result property="primaryKey" column="PRIMARYKEY_"
			jdbcType="VARCHAR" />
		<result property="expression" column="EXPRESSION_"
			jdbcType="VARCHAR" />
		<result property="fileFlag" column="FILEFLAG_"
			jdbcType="VARCHAR" />
		<result property="filePathColumn" column="FILEPATHCOLUMN_"
			jdbcType="VARCHAR" />
		<result property="fileNameColumn" column="FILENAMECOLUMN_"
			jdbcType="VARCHAR" />
		<result property="imageMergeFlag" column="IMAGEMERGEFLAG_"
			jdbcType="VARCHAR" />
		<result property="imageMergeDirection"
			column="IMAGEMERGEDIRECTION_" jdbcType="VARCHAR" />
		<result property="imageMergeTargetType"
			column="IMAGEMERGETARGETTYPE_" jdbcType="VARCHAR" />
		<result property="imageWidth" column="IMAGEWIDTH_"
			jdbcType="INTEGER" />
		<result property="imageHeight" column="IMAGEHEIGHT_"
			jdbcType="INTEGER" />
		<result property="imageScale" column="IMAGESCALE_"
			jdbcType="DOUBLE" />
		<result property="imageScaleSize" column="IMAGESCALESIZE_"
			jdbcType="DOUBLE" />
		<result property="imageNumPerUnit" column="IMAGENUMPERUNIT_"
			jdbcType="INTEGER" />
		<result property="rootPath" column="ROOTPATH_"
			jdbcType="VARCHAR" />
		<result property="lineBreakColumn" column="LINEBREAKCOLUMN_"
			jdbcType="VARCHAR" />
		<result property="lineHeight" column="LINEHEIGHT_"
			jdbcType="INTEGER" />
		<result property="charNumPerRow" column="CHARNUMPERROW_"
			jdbcType="INTEGER" />
		<result property="rowSize" column="ROWSIZE_" jdbcType="INTEGER" />
		<result property="colSize" column="COLSIZE_" jdbcType="INTEGER" />
		<result property="pageSize" column="PAGESIZE_"
			jdbcType="INTEGER" />
		<result property="contextVarFlag" column="CONTEXTVARFLAG_"
			jdbcType="VARCHAR" />
		<result property="genEmptyFlag" column="GENEMPTYFLAG_"
			jdbcType="VARCHAR" />
		<result property="resultFlag" column="RESULTFLAG_"
			jdbcType="VARCHAR" />
		<result property="dataHandlerChains"
			column="DATAHANDLERCHAINS_" jdbcType="VARCHAR" />
		<result property="subTotalFlag" column="SUBTOTALFLAG_"
			jdbcType="VARCHAR" />
		<result property="subTotalColumn" column="SUBTOTALCOLUMN_"
			jdbcType="VARCHAR" />
		<result property="preprocessors" column="PREPROCESSORS_"
			jdbcType="VARCHAR" />
		<result property="varTemplate" column="VAR_TEMPLATE_"
			jdbcType="VARCHAR" />
		<result property="variantFlag" column="VARIANTFLAG_"
			jdbcType="VARCHAR" />
		<result property="sortNo" column="SORTNO_" jdbcType="INTEGER" />
		<result property="locked" column="LOCKED_" jdbcType="INTEGER" />
		<result property="createBy" column="CREATEBY_"
			jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_"
			jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertExportItem"
		parameterType="com.glaf.matrix.export.domain.ExportItem">
		insert into SYS_EXPORT_ITEM
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="expId != null">
				,EXPID_
			</if>
			<if test="deploymentId != null">
				,DEPLOYMENTID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="datasetId != null">
				,DATASETID_
			</if>
			<if test="xmlExpId != null">
				,XMLEXPID_
			</if>
			<if test="sql != null">
				,SQL_
			</if>
			<if test="recursionSql != null">
				,RECURSIONSQL_
			</if>
			<if test="recursionColumns != null">
				,RECURSIONCOLUMNS_
			</if>
			<if test="primaryKey != null">
				,PRIMARYKEY_
			</if>
			<if test="expression != null">
				,EXPRESSION_
			</if>
			<if test="fileFlag != null">
				,FILEFLAG_
			</if>
			<if test="filePathColumn != null">
				,FILEPATHCOLUMN_
			</if>
			<if test="fileNameColumn != null">
				,FILENAMECOLUMN_
			</if>
			<if test="imageMergeFlag != null">
				,IMAGEMERGEFLAG_
			</if>
			<if test="imageMergeDirection != null">
				,IMAGEMERGEDIRECTION_
			</if>
			<if test="imageMergeTargetType != null">
				,IMAGEMERGETARGETTYPE_
			</if>
			<if test="imageWidth != null">
				,IMAGEWIDTH_
			</if>
			<if test="imageHeight != null">
				,IMAGEHEIGHT_
			</if>
			<if test="imageScale != null">
				,IMAGESCALE_
			</if>
			<if test="imageScaleSize != null">
				,IMAGESCALESIZE_
			</if>
			<if test="imageNumPerUnit != null">
				,IMAGENUMPERUNIT_
			</if>
			<if test="rootPath != null">
				,ROOTPATH_
			</if>
			<if test="lineBreakColumn != null">
				,LINEBREAKCOLUMN_
			</if>
			<if test="lineHeight != null">
				,LINEHEIGHT_
			</if>
			<if test="charNumPerRow != null">
				,CHARNUMPERROW_
			</if>
			<if test="rowSize != null">
				,ROWSIZE_
			</if>
			<if test="colSize != null">
				,COLSIZE_
			</if>
			<if test="pageSize != null">
				,PAGESIZE_
			</if>
			<if test="contextVarFlag != null">
				,CONTEXTVARFLAG_
			</if>
			<if test="genEmptyFlag != null">
				,GENEMPTYFLAG_
			</if>
			<if test="resultFlag != null">
				,RESULTFLAG_
			</if>
			<if test="dataHandlerChains != null">
				,DATAHANDLERCHAINS_
			</if>
			<if test="subTotalFlag != null">
				,SUBTOTALFLAG_
			</if>
			<if test="subTotalColumn != null">
				,SUBTOTALCOLUMN_
			</if>
			<if test="preprocessors != null">
				,PREPROCESSORS_
			</if>
			<if test="varTemplate != null">
				,VAR_TEMPLATE_
			</if>
			<if test="variantFlag != null">
				,VARIANTFLAG_
			</if>
			<if test="sortNo != null">
				,SORTNO_
			</if>
			<if test="locked != null">
				,LOCKED_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="expId != null">
				,#{expId, jdbcType=VARCHAR}
			</if>
			<if test="deploymentId != null">
				,#{deploymentId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="datasetId != null">
				,#{datasetId, jdbcType=VARCHAR}
			</if>
			<if test="xmlExpId != null">
				,#{xmlExpId, jdbcType=VARCHAR}
			</if>
			<if test="sql != null">
				,#{sql, jdbcType=VARCHAR}
			</if>
			<if test="recursionSql != null">
				,#{recursionSql, jdbcType=VARCHAR}
			</if>
			<if test="recursionColumns != null">
				,#{recursionColumns, jdbcType=VARCHAR}
			</if>
			<if test="primaryKey != null">
				,#{primaryKey, jdbcType=VARCHAR}
			</if>
			<if test="expression != null">
				,#{expression, jdbcType=VARCHAR}
			</if>
			<if test="fileFlag != null">
				,#{fileFlag, jdbcType=VARCHAR}
			</if>
			<if test="filePathColumn != null">
				,#{filePathColumn, jdbcType=VARCHAR}
			</if>
			<if test="fileNameColumn != null">
				,#{fileNameColumn, jdbcType=VARCHAR}
			</if>
			<if test="imageMergeFlag != null">
				,#{imageMergeFlag, jdbcType=VARCHAR}
			</if>
			<if test="imageMergeDirection != null">
				,#{imageMergeDirection, jdbcType=VARCHAR}
			</if>
			<if test="imageMergeTargetType != null">
				,#{imageMergeTargetType, jdbcType=VARCHAR}
			</if>
			<if test="imageWidth != null">
				,#{imageWidth, jdbcType=INTEGER}
			</if>
			<if test="imageHeight != null">
				,#{imageHeight, jdbcType=INTEGER}
			</if>
			<if test="imageScale != null">
				,#{imageScale, jdbcType=DOUBLE}
			</if>
			<if test="imageScaleSize != null">
				,#{imageScaleSize, jdbcType=DOUBLE}
			</if>
			<if test="imageNumPerUnit != null">
				,#{imageNumPerUnit, jdbcType=INTEGER}
			</if>
			<if test="rootPath != null">
				,#{rootPath, jdbcType=VARCHAR}
			</if>
			<if test="lineBreakColumn != null">
				,#{lineBreakColumn, jdbcType=VARCHAR}
			</if>
			<if test="lineHeight != null">
				,#{lineHeight, jdbcType=INTEGER}
			</if>
			<if test="charNumPerRow != null">
				,#{charNumPerRow, jdbcType=INTEGER}
			</if>
			<if test="rowSize != null">
				,#{rowSize, jdbcType=INTEGER}
			</if>
			<if test="colSize != null">
				,#{colSize, jdbcType=INTEGER}
			</if>
			<if test="pageSize != null">
				,#{pageSize, jdbcType=INTEGER}
			</if>
			<if test="contextVarFlag != null">
				,#{contextVarFlag, jdbcType=VARCHAR}
			</if>
			<if test="genEmptyFlag != null">
				,#{genEmptyFlag, jdbcType=VARCHAR}
			</if>
			<if test="resultFlag != null">
				,#{resultFlag, jdbcType=VARCHAR}
			</if>
			<if test="dataHandlerChains != null">
				,#{dataHandlerChains, jdbcType=VARCHAR}
			</if>
			<if test="subTotalFlag != null">
				,#{subTotalFlag, jdbcType=VARCHAR}
			</if>
			<if test="subTotalColumn != null">
				,#{subTotalColumn, jdbcType=VARCHAR}
			</if>
			<if test="preprocessors != null">
				,#{preprocessors, jdbcType=VARCHAR}
			</if>
			<if test="varTemplate != null">
				,#{varTemplate, jdbcType=VARCHAR}
			</if>
			<if test="variantFlag != null">
				,#{variantFlag, jdbcType=VARCHAR}
			</if>
			<if test="sortNo != null">
				,#{sortNo, jdbcType=INTEGER}
			</if>
			<if test="locked != null">
				,#{locked, jdbcType=INTEGER}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateExportItem"
		parameterType="com.glaf.matrix.export.domain.ExportItem">
		update SYS_EXPORT_ITEM
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_ = #{title, jdbcType=VARCHAR},
			</if>
			<if test="datasetId != null">
				DATASETID_ = #{datasetId, jdbcType=VARCHAR},
			</if>
			<if test="xmlExpId != null">
				XMLEXPID_ = #{xmlExpId, jdbcType=VARCHAR},
			</if>
			<if test="sql != null">
				SQL_ = #{sql, jdbcType=VARCHAR},
			</if>
			<if test="recursionSql != null">
				RECURSIONSQL_ = #{recursionSql, jdbcType=VARCHAR},
			</if>
			<if test="recursionColumns != null">
				RECURSIONCOLUMNS_ = #{recursionColumns,
				jdbcType=VARCHAR},
			</if>
			<if test="primaryKey != null">
				PRIMARYKEY_ = #{primaryKey, jdbcType=VARCHAR},
			</if>
			<if test="expression != null">
				EXPRESSION_ = #{expression, jdbcType=VARCHAR},
			</if>
			<if test="fileFlag != null">
				FILEFLAG_ = #{fileFlag, jdbcType=VARCHAR},
			</if>
			<if test="filePathColumn != null">
				FILEPATHCOLUMN_ = #{filePathColumn, jdbcType=VARCHAR},
			</if>
			<if test="fileNameColumn != null">
				FILENAMECOLUMN_ = #{fileNameColumn, jdbcType=VARCHAR},
			</if>
			<if test="imageMergeFlag != null">
				IMAGEMERGEFLAG_ = #{imageMergeFlag, jdbcType=VARCHAR},
			</if>
			<if test="imageMergeDirection != null">
				IMAGEMERGEDIRECTION_ = #{imageMergeDirection,
				jdbcType=VARCHAR},
			</if>
			<if test="imageMergeTargetType != null">
				IMAGEMERGETARGETTYPE_ = #{imageMergeTargetType,
				jdbcType=VARCHAR},
			</if>
			<if test="imageWidth != null">
				IMAGEWIDTH_ = #{imageWidth, jdbcType=INTEGER},
			</if>
			<if test="imageHeight != null">
				IMAGEHEIGHT_ = #{imageHeight, jdbcType=INTEGER},
			</if>
			<if test="imageScale != null">
				IMAGESCALE_ = #{imageScale, jdbcType=DOUBLE},
			</if>
			<if test="imageScaleSize != null">
				IMAGESCALESIZE_ = #{imageScaleSize, jdbcType=DOUBLE},
			</if>
			<if test="imageNumPerUnit != null">
				IMAGENUMPERUNIT_ = #{imageNumPerUnit, jdbcType=INTEGER},
			</if>
			<if test="lineBreakColumn != null">
				LINEBREAKCOLUMN_ = #{lineBreakColumn, jdbcType=VARCHAR},
			</if>
			<if test="lineHeight != null">
				LINEHEIGHT_ = #{lineHeight, jdbcType=INTEGER},
			</if>
			<if test="charNumPerRow != null">
				CHARNUMPERROW_ = #{charNumPerRow, jdbcType=INTEGER},
			</if>
			<if test="rowSize != null">
				ROWSIZE_ = #{rowSize, jdbcType=INTEGER},
			</if>
			<if test="colSize != null">
				COLSIZE_ = #{colSize, jdbcType=INTEGER},
			</if>
			<if test="pageSize != null">
				PAGESIZE_ = #{pageSize, jdbcType=INTEGER},
			</if>
			<if test="rootPath != null">
				ROOTPATH_ = #{rootPath, jdbcType=VARCHAR},
			</if>
			<if test="contextVarFlag != null">
				CONTEXTVARFLAG_ = #{contextVarFlag, jdbcType=VARCHAR},
			</if>
			<if test="genEmptyFlag != null">
				GENEMPTYFLAG_ = #{genEmptyFlag, jdbcType=VARCHAR},
			</if>
			<if test="resultFlag != null">
				RESULTFLAG_ = #{resultFlag, jdbcType=VARCHAR},
			</if>
			<if test="dataHandlerChains != null">
				DATAHANDLERCHAINS_ = #{dataHandlerChains,
				jdbcType=VARCHAR},
			</if>
			<if test="subTotalFlag != null">
				SUBTOTALFLAG_ = #{subTotalFlag, jdbcType=VARCHAR},
			</if>
			<if test="subTotalColumn != null">
				SUBTOTALCOLUMN_ = #{subTotalColumn, jdbcType=VARCHAR},
			</if>
			<if test="preprocessors != null">
				PREPROCESSORS_ = #{preprocessors, jdbcType=VARCHAR},
			</if>
			<if test="varTemplate != null">
				VAR_TEMPLATE_ = #{varTemplate, jdbcType=VARCHAR},
			</if>
			<if test="variantFlag != null">
				VARIANTFLAG_ = #{variantFlag, jdbcType=VARCHAR},
			</if>
			<if test="sortNo != null">
				SORTNO_ = #{sortNo, jdbcType=INTEGER},
			</if>
			<if test="locked != null">
				LOCKED_ = #{locked, jdbcType=INTEGER},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deleteExportItemById" parameterType="string">
		delete from
		SYS_EXPORT_ITEM
		where ID_ = #{id}
	</delete>


	<select id="getExportItemById" parameterType="string"
		resultMap="exportItemResultMap">
		select * from SYS_EXPORT_ITEM where ID_ = #{id}
	</select>


	<select id="getExportItems"
		parameterType="com.glaf.matrix.export.query.ExportItemQuery"
		resultMap="exportItemResultMap">
		select E.*
		<include refid="selectExportItemsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.SORTNO_ asc
			</otherwise>
		</choose>
	</select>


	<select id="getExportItemCount"
		parameterType="com.glaf.matrix.export.query.ExportItemQuery"
		resultType="int">
		select count(*)
		<include refid="selectExportItemsSql" />
	</select>


	<sql id="selectExportItemsSql">

		from SYS_EXPORT_ITEM E

		<where>
			1 = 1

			<if test="expId != null">
				and E.EXPID_ = #{expId}
			</if>

			<if test="expIds != null and expIds.size() &gt; 0">
				and E.EXPID_ IN
				<foreach item="x_expId" index="index" collection="expIds"
					open="(" separator="," close=")">
					#{x_expId}
				</foreach>
			</if>

			<if test="deploymentId != null and deploymentId != '' ">
				and E.DEPLOYMENTID_ = #{deploymentId}
			</if>

			<if test="deploymentIds != null and deploymentIds.size() &gt; 0">
				and E.DEPLOYMENTID_ IN
				<foreach item="x_deploymentId" index="index"
					collection="deploymentIds" open="(" separator="," close=")">
					#{x_deploymentId}
				</foreach>
			</if>

			<if test="locked != null">
				and E.LOCKED_ = #{locked}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>